body{

    background-color: burlywood;
     background-size: 100vw;
}


h1{ color: brown;
     font-size: 80px;
     font-family: "", sans-serif;
}
h2{ font-size: 37px;
    color:brown;
}
li{ color: brown;
    font-size: x-large;


}